# java specific
.project/
target/
bin/
.settings/
.classpath/
.idea
*.iml
*.class

# emacs temp
*\~

# emacs unsaved
\#*\#

# emacs' sessions
.emacs.d/session*

emacs/.emacs.d/eshell/*

# other ignored files:
ignored
test.txt
